.list-table{
  padding-bottom: 20px;
}
.grouptree {
  border: solid 1px #e2e2e2;
  width: 100%;
  height: 600px;
  overflow-y: auto;
}
.groupform{
  padding: 20px;
  width: 80%;
  position: relative;
  left: 50%;
  border: solid 1px #e2e2e2;
  height: 560px;
  transform: translateX(-50%);
}
